@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./reset.css";

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #6b4433;
    --secondary-color: ;
    --heading-color: ;
    --desc-color: ;
} 

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "quicksand", sans-serif;
}

/* #region COMMON */

.main-content{
   --width: 1170px;

    width: var(--width);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading{
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    --height: 30px;

    color: #6b4433;
    padding: 0 20px;
    height: var(--height);
    min-width: 259px;
    font-size: 1.1rem;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
}

.btn-title{
    --height: 27px;

    color: #fff;
    padding: 8px 15px 10px;
    min-width: 798px;
    font-size: 2.4rem;
    font-weight: 600;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 99px;
    display: inline-block;
    background-color: #6b4433;
}

.line-clamp{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 2);
-webkit-box-orient: vertical;
overflow: hidden;
}

.line-clamp.line-one{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 1);
-webkit-box-orient: vertical;
overflow: hidden;
}

/* #endregion common */


/* #region breadcrumb */ 

.breadcrumb{
    margin-bottom: 0;
}

.breadcrumb__inner{
    padding: 9px 0;
    font-size: 1.3rem;
    background: transparent;
    border-radius: 0;
    margin: 0;
    color: #252a2b;
}

.breadcrumb__inner a{
    color: #252a2b;
}


/* #endregion breadcrumb */


/* #region product_detail */ 


.prodetail__content{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.product-detail {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 0;
    margin-right: 0;
}

.main-content{
   --width: 1170px;

    width: var(--width);
    max-width: calc(100% - 38px);
    margin: 0 auto;
}



.gallery__thumb {
    order: 2;
}

.gallery__main {
    order: 1;
    margin-right: 0;
    width: 100%;
    overflow: hidden;
}



.thumb__list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-right: 0;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    gap: 8px;
}

.thumb__item {
    height: 68px;
    margin-bottom: 0;
    flex-shrink: 0;
}

.thumb__item .active {
    border: 1px solid var(--primary-color);
}

.thumb__img {
    height: 68px;
    width: 68px;
    object-fit: cover;
}

.gallery__main-img {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
}

.main__img {
    object-fit: cover;
}

.gallery__nav-btn{
    position: absolute;
    top: 50%;
}

.gallery__nav-btn.left{
    left: 10px;
}

.gallery__nav-btn.right{
    right: 10px;
}

.gallery__nav-btn svg {
  width: 40px;
  height: 40px;
  stroke-width: 2.5;
}

@media (min-width: 1024px) {
    .product-detail {
        flex-direction: row;
        width: 100%;
        height: 470px;
    }

    .gallery__thumb {
        order: 1;
    }

    .prodetail__content{
         margin-left: 20px;
    }

    .gallery__main {
        order: 2;
    }

    .thumb__list {
        flex-direction: column;
        margin-top: 2px;
        padding-right: 15px;
        height: 455px;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 0;
    }

    .thumb__item {
        margin-bottom: 8px;
    }

    .gallery__main-img {
        width: 100%;
        height: 470px;
    }
}

/* #endregion product_detail */ 

/* #region product_content */ 

.row {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
}

/* Tablet trở lên: 2 cột */
@media (min-width: 1024px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }
}

.prodetail__content{
    width: 100%;
}


.prodetail__heading{
    font-size: 2.4rem;
    margin: 20px 0 8px;
    font-weight: 700;
}

.prodetail__sku, 
.prodetail__brand, 
.prodetail__sold{
    font-size: 1.4rem;
}

.prodetail__meta li:not(:last-child)::after {
  content: "|";
  margin-left: 16px;
  color: #999;
}

.prodetail__meta{
    display: flex;
    gap: 20px;
     margin-bottom: 8px;
}

.prodetail__value{
  background-color: #ccc;
  align-content: center;
  font-size: 14px;
  color: crimson;
  padding: 3px 14px;
  font-weight: 600;
}

.prodetail__prices{
padding: 10px;
  margin: 5px 0 10px;
}

.prodetail-price{
  margin-right: 10px;
}

.prodetail__price{
    font-weight: 500;
    font-size: 1.8rem;
    color: #878c8f;
}

.prodetail__sale{
  font-size: 2.5rem;
  color: crimson;
  font-weight: 700;
}


/* #endregion product_content */ 