@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./reset.css";

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #6b4433;
    --secondary-color: ;
    --heading-color: ;
    --desc-color: ;
} 

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "quicksand", sans-serif;
}

/* #region COMMON */

.main-content{
   --width: 1170px;

    width: var(--width);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading{
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    --height: 30px;

    color: #6b4433;
    padding: 0 20px;
    height: var(--height);
    min-width: 259px;
    font-size: 1.1rem;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
}

.btn-title{
    --height: 27px;

    color: #fff;
    padding: 8px 15px 10px;
    min-width: 798px;
    font-size: 2.4rem;
    font-weight: 600;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 99px;
    display: inline-block;
    background-color: #6b4433;
}

.line-clamp{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 2);
-webkit-box-orient: vertical;
overflow: hidden;
}

.line-clamp.line-one{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 1);
-webkit-box-orient: vertical;
overflow: hidden;
}

/* #endregion common */


/* #region breadcrumb */ 

.breadcrumb{
    margin-bottom: 0;
}

.breadcrumb__inner{
    padding: 9px 0;
    font-size: 1.3rem;
    background: transparent;
    border-radius: 0;
    margin: 0;
    color: #252a2b;
}

.breadcrumb__inner a{
    color: #252a2b;
}


/* #endregion breadcrumb */


/* #region product_detail */ 


.prodetail__gallery,
.prodetail__content{
    width: 50%;
}

.product-detail{
    display: flex;
    height: 470px;
}

.thumb__list{
    margin-top: 2px;
    padding-right: 15px;
    height: 455px;
    overflow-y: auto;
    scrollbar-width: none;
}

.thumb__item{
    height: 68px;
    margin-bottom: 8px;
}

.thumb__item .active{
    border: 1px solid var(--primary-color);
}

.thumb__img{
    height: 68px;
    object-fit: cover;
}

.gallery__main-img{
    position: relative;
}

.main__img{
    object-fit: cover;
}

.gallery__nav-btn{
    position: absolute;
    top: 50%;
}

.gallery__nav-btn.left{
    left: 10px;
}

.gallery__nav-btn.right{
    right: 10px;
}

.gallery__nav-btn svg {
  width: 40px;
  height: 40px;
  stroke-width: 2.5;
}

/* #endregion product_detail */ 

/* #region product_content */ 

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prodetail__content{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    width: 100%;
}


.prodetail__heading{
    font-size: 2.4rem;
    margin: 20px 0 8px;
    font-weight: 700;
    
}

.prodetail__meta{
    display: flex;
    gap: 20px;
}


/* #endregion product_content */ 