@import "tailwindcss";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./reset.css";

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #6b4433;
    --secondary-color: ;
    --heading-color: ;
    --desc-color: ;
} 

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "quicksand", sans-serif;
}



/* #region COMMON */

.main-content{
   --width: 1170px;

    width: var(--width);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading{
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

.btn{
    --height: 30px;

    color: #6b4433;
    padding: 0 20px;
    height: var(--height);
    min-width: 259px;
    font-size: 1.1rem;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    background-color: transparent;
}

.btn-title{
    --height: 27px;

    color: #fff;
    padding: 8px 15px 10px;
    min-width: 798px;
    font-size: 2.4rem;
    font-weight: 600;
    border: 1px solid #6b4433;
    line-height: var(--height);
    text-align: center;
    border-radius: 99px;
    display: inline-block;
    background-color: #6b4433;
}

.line-clamp{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 2);
-webkit-box-orient: vertical;
overflow: hidden;
}

.line-clamp.line-one{
display: -webkit-box;
-webkit-line-clamp: var(--line-clamp, 1);
-webkit-box-orient: vertical;
overflow: hidden;
}

.account__none{
  pointer-events: none;
}

/* #endregion common */

/* #region HEADER */
.top-header{
 background-color: #5a3222;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  min-height: 32px;             
  display: flex;
  align-items: center;          
  justify-content: center;      
  position: relative;
}

/* Ẩn mũi tên mặc định */
.carousel-control-prev,
.carousel-control-next {
  position: absolute; 
  opacity: 0;
  transition: opacity 0.3s ease;
}
.carousel-control-prev{
    left: 10px;
}

.carousel-control-next{
    right: 10px;
}


/* Hover vào top-header thì hiện mũi tên */
.top-header:hover .carousel-control-prev,
.top-header:hover .carousel-control-next {
  opacity: 1;
}

.header__content{
    margin: 0;
}

header {
  position: relative;
}


.header-container{
  width: 100%;
}

.header-container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    gap: 0 15px;
}

.header__menu{
      position: relative;
}

.header__menu--action{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #000;
}

.header__menu-home{
  padding: 15px 12px 5px;
    border-bottom: #ccc 1px solid;
}

.header__menu--dropdown{
  position: absolute;
  min-width: 274px;
  top: 40px;
  left: -15;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: white;
  border-radius: 5px;
  z-index: 10;
}

.header__menu-list{
  margin: 10px 0;
}

.header__menu-a{
  font-weight: 700;
  font-size: 1.3rem;
  padding: 10px 20px 10px 15px;
  display: flex;
  align-items: center;      
  justify-content: space-between;
  text-transform: uppercase;
}

.header__menu-children{
  padding-left: 10px;
  margin-bottom: 5px;
}


.header__children-item{
  font-weight: 400;
  font-size: 1.4rem;
  padding: 5px 32px 5px 15px;
  transition: all 0.25s;
}

.header__children-item:hover{
  font-weight: 600;
}

.header__box{
    width: 150px;
}

.header__mz-search{
    width: 643px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
     display: flex;
  align-items: center;  
}

.mz-search__input{
    height: 100%;
    padding: 9px 50px 10px 9px;
    width: calc(100% - 40px) ;
    border: none;
    color: #ccc;
    background: transparent;
    font-size: 1.4rem;
    font-weight: 600;
}

.mz-search__input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.mz-header__search:focus-within {
  border-color: #000; 
}


.mz-search__btn{
  display: flex;
  justify-content: center;
  align-items: center;
    flex: 1;
    border: none;
    height: 40px;
    max-width: 40px;
    background: transparent;
}

.header__action {
  display: flex;
  align-items: center;
}

.header__user,
.header__cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  color: #333;
  position: relative;
  margin-left: 25px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 30px;
}


.header__user::before{
  content: "";
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: 0;
}

.header__cart::before{
  content: "";
  height: 100%;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  left: 0;
}

.header__user--icon,
.header__cart--icon {
  margin-right: 6px;
}

.header__user--text{
  white-space: nowrap;
}


/* header navbar */

.header__nav{
  padding: 10px 0;
}

.header__nav-inner{
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.header__home{
  flex: 0 0 auto;
  margin-right: 10px;
}

.header__list{
  display: flex;
  overflow-x: auto;
  flex: 1;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header__item{
  flex: 1;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.header__link{
    border: 1px solid #000;
    border-radius: 5px;
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 152px;
    line-height: 1.42857143;
    color: #333;
    text-align: center;
    color: #000;
    padding: 10px;
    cursor: pointer;
}

/* #endregion HEADER */


/* #region BANNER */

.banner .carousel-item {
  --height: 475px;
  height: var(--height);
}

.banner .carousel-item img {
  height: 100%;
  object-fit: cover;
}


.carousel-fade .carousel-item {
  transition: opacity 1s ease-in-out; /* thời gian 1s */
}

/* Indicators (dấu chấm) */
.banner .carousel-indicators {
  bottom: 0; /* cách bottom 10px */
}

.banner .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255); /* màu trắng mờ */
}
 
.banner .carousel-indicators .active {
  background-color: #000; /* khi active thì trắng đậm */
}

/* Nút prev/next */
.banner .carousel-control-prev-icon,
.banner .carousel-control-next-icon {
  background-size: 50% 50%; /* thu nhỏ icon */
}

.banner .carousel-control-prev,
.banner .carousel-control-next {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255); /* nền đen mờ */
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0; /* ban đầu ẩn */
  visibility: hidden;
  transition: all 0.3s ease;
}

.banner .carousel-control-prev {
  left: 20px; 
  color: #000;
}

.banner .carousel-control-prev-icon,
.banner .carousel-control-next-icon {
  filter: invert(1); /* trắng -> đen */
  transition: all 0.25s ease;
}

.banner .carousel-control-next {
  right: 20px; /* chỉnh khoảng cách lề phải */
}

/* Hover vào carousel thì hiện nút */
.banner .carousel:hover .carousel-control-prev,
.banner .carousel:hover .carousel-control-next {
  opacity: 1;
  visibility: visible;
}

/* Khi hover vào nút thì icon thành màu trắng */
.banner .carousel-control-prev:hover .carousel-control-prev-icon,
.banner .carousel-control-next:hover .carousel-control-next-icon {
  filter: brightness(1); /* invert 1 -> trắng */
}


/* Hover trực tiếp vào nút thì đổi màu */
.banner .carousel-control-prev:hover,
.banner .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* đen đậm hơn */
}

/* #endregion banner */


/* #region PROMOTION */
.promotion{
 margin:  1px 0 30px;
}

.promotion__list{
  overflow: auto;
  display: flex;
 justify-content: space-between;
 padding: 10px 12px;
 scrollbar-width: none;
  -ms-overflow-style: none;
}

.promotion__item{
 padding: 0 8px;
 flex: 1;
}

.promotion__inner{
  display: flex;
  /* flex-wrap: nowrap; */
  justify-content: start;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  min-width: 240px;
  
}

.promotion__title{
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.45;
}

.promotion__content{
  font-size: 1.3rem;
  line-height: 1.45;
}

.promotion__title,
.promotion__content{
  display: block;
  color: var(--primary-color);
}

/* #endregion promotion */

/* #region PRODUCT */

.product{
  padding-bottom: 40px;
}

.product__heading{
 margin-top: 40px;
 margin-bottom: 30px;
 padding-bottom: 10px;
  text-align: center;
}

.product__heading--inner {
    font-size: 2.4rem;
  display: inline-block;
  min-width: 70%;
  font-weight: 700;
  background: #603813;
  color: #fff;
  padding: 10px 40px;
  border-radius: 9999px;
}

.product__content{
  margin-bottom: 20px;
}

.product__list{
 row-gap: 0;
 column-gap: 10px;
}

.product__item{
  --height: 411px;

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 0;
  height: var(--height);
  margin-bottom: 10px;
}

.product__item:hover .product__favorite{
  opacity: 1;
  visibility: visible;
}

.product__item:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease;
  background: #fff; 
}

.product__images {
 --height: 278px;

  height: var(--height);
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
  overflow: hidden;
}

.product__sale {
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
}

.product__sold {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #565656;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.product__favorite {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background: #f5f5f5;
  border-radius: 50%;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.product__img{
  height: 100%;
}

.product__img img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.product__detail{
  padding: 10px 12px 14px;
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.product__name{
  line-height: 1.45;
  font-size: 1.4rem;
  font-weight: 500;
  margin:  0 0 8px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal; 
}

.product__price{
  margin-top: auto;
  margin-bottom: 8px;
}

.prod__price{
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 4px;
}

.prod__price-del{
  color: #878c8f;
  text-decoration: line-through;
  font-size: 1.3rem;
  font-weight: 300;
}

.product__action{
  text-align: center;
}

.product__cart{
  position: relative;
  height: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   border: 1px solid var(--primary-color);
   border-radius: 10px;
    overflow: hidden;
  z-index: 1;
}

.prod_cart svg {
  display: block;
}

.prod_text{
  font-size: 1.1rem;
}

.product__cart::before {
  content: "";
  position: absolute;
 top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.4s ease;
  z-index: -1;
}

.product__cart:hover::before {
  left: 0;
  right: auto;               
  width: 100%;  
}

.product__cart:hover {
  color: #fff;
}

.product__more{
  margin-top: 15px;
  display: block;
  text-align: center;
  line-height: 1.45;
}

.product__more--btn{
  padding: 10px 30px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-size: 1.3rem;
  text-transform: lowercase;
  display: inline-block;
}

.product__more--btn b{
  font-weight: 700;
  color: var(--primary-color);
}

/* #endregion product */

@media (max-width: 768px) {

  .main-content{
    --width: 750px;
    max-width: calc(100% - 28px);
  }

  .header__right .account,
  .header__right .cart {
    display: none;
  }

  .header__user--text,
  .header__user--text{
    display: none;
  }

  .header__user,
.header__cart {
  padding: 0 5px;
  color: #333;
  margin-left: 0;
  font-weight: 500;
  padding-left: 10px;
}

.header__box{
    width: 80px;
}

.banner .carousel-item {
  --height: 250px;
}

.banner .carousel-item img {
  height: 100%;
  object-fit: cover;
}


.product__heading{
 margin-top: 40px;
 margin-bottom: 30px;
  text-align: center;
}

.product__heading--inner {
  margin: 0;
        min-width: 90%;
        padding: 7px 12px;
        font-size: 16px;
        text-transform: uppercase;
  /* min-width: 70%; */
}

 .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    gap: 5px;
  }

  .product__item{
    --height: 485px;
  }

  .product__images{
    --height: 352px;
}

.product__favorite{
  opacity: 1;
  visibility: visible;
}
}

@media (max-width: 480px) {
    .main-content {
    --width: 100%;
    max-width: calc(100% - 10px);
  }

  .product__item{
    --height: 313px;
  }

  .product__images{
    --height: 193px;
}

.banner .carousel-item {
  --height: 130px;
}
}

/* #region POST */
.post__heading{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.post__related{
    padding: 20px 12px;
}

.post_list{
    column-gap: 10px;
}

.post__article{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 15px;
   padding: 5px;
   cursor: pointer;
}

.post__article:hover{
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease;
  background: #fff; 
}

.post__image{
    width: 80px;
    height: 44px;
}

.post__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__content{
    margin-left: 15px;
    flex: 1;
}

.post__title{
    line-height: 1.3;
    color: var(--shop-color-text);
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 5px;
    word-break: normal;
  overflow-wrap: break-word;
  white-space: normal;
}

.post__time{
    color: #999;
    font-size: 1.2rem;
}

.post__more--btn{
    color: var(--primary-color);
    line-height: 1.45;
    font-size: 14px;
}

/* #endregion post */

/* #region FOOTER */
.footer{
    padding: 40px 0 30px;
    margin-top: 50px;
    border-top: 1px solid #ccc;
    line-height: 1.6;
}

.footer__row{
    padding: 0 15px;
}

.footer__heading{
    font-size: 1.8rem; 
    font-weight: 700;
    padding: 12px 0;
}

.footer__content p{
    padding: 0 0 10px;
}

.footer__item{
    margin-bottom: 8px;
}

.footer__client .footer__item{
    list-style-type: disc;
  list-style-position: inside;
  padding-left: 0;  
    font-size: 1.4rem;
    font-weight: 700;
}

.footer__content b,
.footer__content u{
    font-weight: 700;
}

.footer__item a,
.footer__content p{
    font-size: 14px;
    line-height: 1.45;
    color: #333;
}

.footer__info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer__logo-phone{
    width: 45px;
}

.footer__phone-email{
    display: flex;
    flex-direction: column;
}

.footer__phone-email span a{
    display: block;
    font-size: 2.4rem;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.6;
}

.footer__socal .footer__list{
    display: flex;
    width: 100%;
}

.footer__socal--icon{
    padding: 8px;
    border: 1px solid #000;
    display: block;
    border-radius: 5px;
}

.footer__socal .footer__item{
    padding-right: 10px;
}

/* #endregion footer */



